main {
  min-height: 500px;
}
.card {
  cursor: pointer;
}
#searchForm > div > div > button {
  display: none;
}
.btn[disabled] {
  cursor: not-allowed;
}
.imgcoverorderlines{
  height: 6em;
}
.imgdropdownbasket{
  height: 50px;
}

//basket
.basket-dropdown{
  max-height: 200px;
  min-width: 280px;
  overflow: scroll;
}
.cart-counter {
  position: relative;
  top: -12px;
  left: -3px;
}